<head>
    <link rel="stylesheet" href="navbar.css">
</head>
<nav class="style-nav">
    <ul class="nav-menu">
        <li class="nav-item">Home</li>
        <li class="nav-item">About</li>
        <li class="nav-item">Store</li>
        <li class="nav-item">Contact</li>
    </ul>
<div class="hamburger">
    <button class="hamburger-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</div>
</nav>








<section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>
    
      <nav class="menu1">
        <a class="link1" href="">Our Models</a>
        <a class="link1" href="">Specialties</a>
        <a class="link1" href="">About</a>
        <a class="link1" href="">Blog</a>
        <a class="lin1 kbutton-nav" href="">Contact</a>
      </nav>
  </nav>
  </section>