<section aria-label="hero section" class="hero-section">
    <h2 class="background-image">Book Fair Extraviganza</h2>
    <p class="background-image">October 15-17, 2023</p>
    <p class="background-image">City Convention Center, 123 Main Street, Anytown</p>
    <p class="background-image">Immerse yourself in the world of books at our community book fair! We are celebrating literature and fostering a love for reading!</p>
</section>
<section aria-label="about section" class="about-section-container">
    <h2>About</h2>
    <p>This is a wide community event witht the purpose of promoting literacy, supporting local authors, and fostering a love for reading. Here is important Information for Attendees. Parking will be help in the south parking lot free of cost. There will be an admission fee of $15 at the door. In order to attend you must be 18+ or have a legal gaurdian if younger.</p>
</section>
<section aria-label="schedule section" class="schedule-section-container">
    <h2>Schedule</h2>
    <p>There will be many sessions and activities. Held in Remenal Hall will be author readings. There will be panel discussions in the offices downstairs. The workshops will be held in the commons. Finally, the storytelling sessions, will be in the Library.
        Date and Time for Each Session
        Brief Session Descriptions</p>
</section>
<section aria-label="speakers section" class="speakers-section-container">
    <h2>Speakers</h2>
    <p>List of Featured Speakers or Performers
        Names
        Photos
        Brief Biographies</p>
</section>
<section aria-label="sponsors section" class="sponsors-section-container">
    <h2>Sponsors</h2>
        <p>List of Sponsors
            Logos
            Short Descriptions of Sponsor Involvement</p>
</section>
<section aria-label="register section" class="register-section-container">
    <h2>Register</h2>
    <p>Call-to-Action Text (Register now to secure your spot!)
        Registration Button or Form</p>
</section>