* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body a button {
    background-color: white;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.hover-button {
    margin-left: 20px;
    margin-bottom: 20px;
}

.hover-button:hover {
    color: brown;
}
.active-button {
    background-color: rgb(206, 206, 206);
    border: 2px solid black;
}

.visited-button {
    background-color: rgb(206,206,206);
}