<!--<head>
    <link rel="stylesheet" href="hero.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<span>
    <img src="/img/heroimage.jpg" class="heroimage" alt="superman and the sunset">
    <p class="quote-cover">"Play around with typography<br> because it is a valuable skill"</p>
</span>-->
<section aria-label="hero section" class="hero-section">
    <h2 class="background-image">Book Fair Extraviganza</h2>
    <p class="background-image">October 15-17, 2023</p>
    <p class="background-image">City Convention Center, 123 Main Street, Anytown</p>
    <p class="background-image">Immerse yourself in the world of books at our community book fair! We are celebrating literature and fostering a love for reading!</p>
</section>