<head>
    <link rel="stylesheet" href="hero.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<span>
    <img src="/Images/heroimage.jpg" class="heroimage" alt="superman and the sunset">
    <p class="quote-cover">"Play around with typography<br> because it is a valuable skill"</p>
</span>